---
import { SiteRoot } from '../scripts/global';
---
<h2>A sample about page</h2>

<a href={`${SiteRoot}/guides/example/`}> goto docs this way </a>

<a href={SiteRoot + "/guides/example/"}> or goto docs this way</a>